<div class="module-body">

<div class="row module-section">
	<div class="col-sm-4 module-section-column">
		<div class="col-sm-12">
			<div class="h4 section-head">
			Active Request
				<hr>

			</div>
			<!--
			<ul class="module-sidebar-nav overlay-sidebar nav nav-pills nav-stacked">	
				{% for (var i=0; i < ar.length; i++) { var d = ar[i] %}
					<li class="strong module-sidebar-item">
						<a class="module-link" data-name="my_payslip" href="desk#Form/Personnel%20Requisition/{{ d.name }}"><i class="fa fa-chevron-right pull-right" style="display: none;"></i>
							<p>{{ d.name }}</p><span class="label label-danger"> {{ d.quantity }}</span>
							<span class="label label-success"> {{ d.position_title }}</span>
							<span class="label label-info"> {{ d.date_needed }}</span>
						</a>
					</li>
				{% } %}
			</ul>
			-->

		</div>
	</div>

	<div class="col-sm-8 module-section-column">
		<div class="col-sm-12">
			<div class="h4 section-head">
				Steps and Process
				<hr>
			</div>
			

			<div class="section-body bg-light">
				<div class="h4 section-head"> Step 1: Sourcing Candidates</div>
					<span><button class="pull-right btn btn-success btn-post" > + Add Candidate </button></span>
				<div>
					<p> Online Advertising on job and Career sites or professional networking and participation in trade associations. Internal and/or External </p>
				</div>


				<ul class="module-sidebar-nav overlay-sidebar nav nav-pills nav-stacked">
				{% for (var i=0; i < candidates.length; i++) { var d = candidates[i] %}
					<li class="strong module-sidebar-item">
						<a class="module-link" data-name="my_payslip" href="desk#Form/Job%20Applicant/{{ d.name }}"><i class="fa fa-chevron-right pull-right" style="display: none;"></i>
							<span>{{ d.applicant_name }}</span>
						</a>
					</li>
				{% } %}
				</ul>
			</div>


			<hr>
			<div class="section-body bg-light">
				<div class="h4 section-head"> Step 2: Schedule and Assessment</div>
				<div>
					<p> Review of Resumes, preliminary phone interviews to obtain applicants background and work experiences. </p>
				</div>


				<ul class="module-sidebar-nav overlay-sidebar nav nav-pills nav-stacked">
				{% for (var i=0; i < schedule_assessment.length; i++) { var d = schedule_assessment[i] %}
					<li class="strong module-sidebar-item">
						<a class="module-link" data-name="my_payslip" href="desk#Form/Job%20Applicant/{{ d.name }}"><i class="fa fa-chevron-right pull-right" style="display: none;"></i>
							<span>{{ d.applicant_name }}</span>
						</a>
					</li>
				{% } %}
				</ul>
			</div>
			

			<hr>
			<div class="section-body bg-light">
				<div class="h4 section-head"> Step 3: Interview </div>
				<div>
					<p> Hiring manager reviews the applications and resumes the employement specialist have forwarded. </p>
				</div>


				<ul class="module-sidebar-nav overlay-sidebar nav nav-pills nav-stacked">
				{% for (var i=0; i < interview.length; i++) { var d = interview[i] %}
					<li class="strong module-sidebar-item">
						<a class="module-link" data-name="my_payslip" href="desk#Form/Schedules%20and%20Assessment/{{ d.name }}"><i class="fa fa-chevron-right pull-right" style="display: none;"></i>
							<span>{{ d.applicant_name }} </span><span class="label label-info">  {{ d.interview_date }}</span><span class="label label-success">  {{ d.interview_status }}</span>
						</a>
					</li>
				{% } %}
				</ul>
			</div>
			
			
			<hr>
			<div class="section-body bg-light">
				<div class="h4 section-head"> Step 4: Background investigation </div>
				<div>
					<p></p>
				</div>


				<ul class="module-sidebar-nav overlay-sidebar nav nav-pills nav-stacked">
				{% for (var i=0; i < background_investigation.length; i++) { var d = background_investigation[i] %}
					<li class="strong module-sidebar-item">
						<a class="module-link" data-name="my_payslip" href="desk#Form/Schedules%20and%20Assessment/{{ d.name }}"><i class="fa fa-chevron-right pull-right" style="display: none;"></i>
							<span>{{ d.applicant_name }}</span>
						</a>
					</li>
				{% } %}
				</ul>
			</div>

			<hr>
			<div class="section-body bg-light">
				<div class="h4 section-head"> Step 5: Job Offer</div>
				<div>
					<p> When reccruiting for positions where you negotiate th terms of employement, compensation and benefits, and other issues until the parties reach an agreement. </p>
				</div>



				<ul class="module-sidebar-nav overlay-sidebar nav nav-pills nav-stacked">
				{% for (var i=0; i < job_offer.length; i++) { var d = job_offer[i] %}
					<li class="strong module-sidebar-item">
						<a class="module-link" data-name="my_payslip" href="desk#Form/Background%20Investigation/{{ d.name }}"><i class="fa fa-chevron-right pull-right" style="display: none;"></i>
							<span>{{ d.applicant_name }}</span>
						</a>
					</li>
				{% } %}
				</ul>
			</div>

			
			<hr>
			<div class="section-body bg-light">
				<div class="h4 section-head"> Step 6: Contract signing</div>
				<div>
				</div>

				<ul class="module-sidebar-nav overlay-sidebar nav nav-pills nav-stacked">
				{% for (var i=0; i < contract_signing.length; i++) { var d = contract_signing[i] %}
					<li class="strong module-sidebar-item">
						<a class="module-link" data-name="my_payslip" href="desk#Form/Offer%20Letter/{{ d.name }}"><i class="fa fa-chevron-right pull-right" style="display: none;"></i>
							<span>{{ d.applicant_name }}</span>
						</a>
					</li>
				{% } %}
				</ul>
			</div>

			
			<hr>
			<div class="section-body bg-light">
				<div class="h4 section-head"> Step 7: Employee 201</div>
				<div><p> Creation of Employee 201 </p>
				</div>

				<ul class="module-sidebar-nav overlay-sidebar nav nav-pills nav-stacked">
				{% for (var i=0; i < for_employee.length; i++) { var d = for_employee	[i] %}
					<li class="strong module-sidebar-item">
						<a class="module-link" data-name="my_payslip" href="desk#Form/Offer%20Letter/{{ d.name }}"><i class="fa fa-chevron-right pull-right" style="display: none;"></i>
							<span>{{ d.applicant_name }}</span>
						</a>
					</li>
				{% } %}
				</ul>
			</div>


			
			<!--
			<hr>
			<div class="section-body bg-light">
				<div class="h4 section-head"> Step 7: Onboarding</div>
				<div>
					<p>  Create Employee Record </p>
				</div>


				<ul class="module-sidebar-nav overlay-sidebar nav nav-pills nav-stacked">
				{% for (var i=0; i < for_employee.length; i++) { var d = for_employee[i] %}
					<li class="strong module-sidebar-item">
						<a class="module-link" data-name="my_payslip" href="desk#Form/Offer%20Letter/{{ d.name }}"><i class="fa fa-chevron-right pull-right" style="display: none;"></i>
							<span>{{ d.applicant_name }}</span>
						</a>
					</li>
				{% } %}
				</ul>
			</div>
			-->

		</div>
	</div>

</div>
</div>
